@import "./mixins.scss";
.wrapper,
.canvas {
  height: 100%;
  width: 100%;
  position: relative;
}

.canvas {
  z-index: 1;
}

.socials,
.newsletter,
.projects {
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 1rem;
  z-index: 2;
}

.newsletter {
  right: 0;
  justify-content: space-between;
  @include respond-to("mobile") {
    width: 100%;
  }
}
.socials {
  left: 0;
  gap: 1.5rem;
  align-items: flex-end;
  @include respond-to("mobile") {
    align-items: flex-start;
    gap: 1rem;
    bottom: auto;
    top: 0;
    width: 100%;
    justify-content: space-between;
  }
  .link {
    font-size: 1rem;
  }
  .separator {
    height: 32px;
    width: 1px;
  }
}

.projects {
  right: 0;
  gap: 1.5rem;
  align-items: flex-end;
}

.link {
  text-decoration: underline;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  @include respond-to("mobile") {
    font-size: 0.8rem;
    margin: 0;
  }
}

.separator {
  height: 40px;
  width: 2px;
  background: currentColor;
  @include respond-to("mobile") {
    display: none;
  }
}
